<footer op-60>
    <p mt-6 text-sm text-slate>
    <span pr-1>chatgpt最新版接口，免科学上网，收藏食用^_^</span>
  </p>
  <p mt-6 text-sm text-slate>
    <span pr-1>由于访问量太大，如果额度已经用完，可以点击红色备份AI机器人体验</span>
    <a
    border-b border-slate border-none hover:border-dashed text-red-500
      href="http://chatgpt2.ppt6666.com" target="_blank"
    >
      备份AI机器人^_^
    </a>  
    <span pr-1>也可以加我微..信帮忙代问 18223156934 </span>
  </p>
  <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"JzYPOoixAFXiaSnj",ck:"JzYPOoixAFXiaSnj"})</script>
</footer>
